@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");

$background: #f4f4f4;
$background-details: #dda15e;
$font: #121212;
$font-details: #bc6c25;
$shadow-black: #0000003e;

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: $font;
}

/* Header */

header {
  z-index: 10;
  width: 100%;
  height: 80px;
  padding-inline: 3rem;
  background: none;
  display: flex;
  align-items: center;

  .container_logo {
    position: absolute;
    top: 10px;

    #logo {
      font-size: 2em;
      font-weight: 600;
      color: $font-details;
      transition: 500ms;
    }

    #logo:hover {
      color: $background-details;
    }
  }
}

/* Background Creation */

main {
  margin: 0 auto;
  display: block;
}

section.module.container.main,
section.container-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;

  background-size: cover;
  animation: fadeIn 800ms ease;
}

section.module.container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: radial-gradient(
    circle,
    rgba(87, 66, 23, 0.3) 0%,
    rgba(58, 44, 12, 0.4) 52%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

section.module.container.main {
  z-index: 2;
  background: url("https://images.unsplash.com/photo-1579027989536-b7b1f875659b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80")
    no-repeat center/cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container-pf,
.container-acompanhamentos {
  background: $background-details;
}

section.container-lists.container-bebidas,
section.container-lists.container-lanche {
  margin: 50px 0;
  height: max-content !important;
}

/* Container Main */

.container-main-details {
  z-index: 11;
  padding: 2rem;
  backdrop-filter: blur(10px);
  border-radius: 50px;

  h1 {
    font-size: 3em;
    text-shadow: 2px 2px 2px $shadow-black;
    color: $font-details;
  }

  nav {
    margin: 25px 0;

    .container-nav h2 {
      margin: 5px 0;
      font-size: 2em;
      font-weight: 600;
      letter-spacing: 1px;
      color: $background;
    }

    .container-nav-details {
      margin: 10px;
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      gap: 15px;

      button {
        max-width: 350px;
        margin: 0 8px;
        padding-inline: 2rem;
        border: 0;
        border-radius: 50px;
        font-size: 1.25em;
        font-weight: 500;
        color: $background;
        cursor: pointer;
        background: $font-details;

        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(100, 200, 200, 0)
          ),
          linear-gradient(to right, $font-details, $font-details);
        background-size: 100% 0.1em, 0 0.1em;
        background-position: 100% 70%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;

        animation: fadeIn 1s ease;
        transition: 0.5s;
      }

      button:hover {
        color: $font-details;
        background-size: 0 0.1em, 100% 0.1em;
        transition: 0.3s;
      }
    }
  }
}

/* Container List*/

.container-lists {
  h3 {
    margin: 20px 0;
    font-size: 1.8em;
  }
}

.container-details {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-auto-flow: row;
  gap: 35px;

  .container-details-food {
    margin: 0 25px;
    padding: 10px 8px;
    border-radius: 15px;
    max-width: 600px;
    display: flex;
    align-items: normal;
    flex-direction: row;
    transition: 250ms;

    .foodImage {
      margin: 0 5px;
      width: 225px;
      height: 225px;
      border-radius: 20px;
      object-fit: cover;
      border: 0;
      filter: drop-shadow(0 0 20px $shadow-black);
    }

    .food-details {
      text-align: left;
      padding-inline: 2rem;

      h4 {
        font-size: 1.2em;
        line-height: 1.5em;
        text-shadow: 5px 2px 10px $shadow-black;
        color: $font-details;
      }

      p {
        margin: 5px 0;
        font-size: 0.8em;
        text-align: justify;
        line-height: 1em;
        word-wrap: break-word;
      }
    }

    h5 {
      margin-top: auto;
      font-size: 0.8em;
      font-weight: 700;
    }
  }

  .container-details-food:hover {
    background: #e9e9e9;
  }
}

/* Propriedades especificas */

.container-bebidas .container-details-food .foodImage,
.container-acompanhamentos .container-details-food .foodImage,
.container-lanche .container-details-food .foodImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.container-pf .container-details-food .food-details,
.container-acompanhamentos .container-details-food .food-details {
  h4 {
    color: #283618;
  }
}

/* Others */

#topScroll {
  padding: 5px;
  border: 0;
  position: fixed;
  right: 2%;
  bottom: 2%;
  line-height: 0;
  background: none;
  cursor: pointer;

  .fi {
    font-size: 2.5em;
    text-shadow: 0 0 5px $shadow-black, 0 0 20px $shadow-black;
    color: #283618;
  }
}